div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  background:rgba(245, 245, 245, 0.74);
  padding:8px;
  text-align: center;
}

.container {
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 2%;
  background-color: rgba(245, 245, 245, 0.74);
  border-radius: 10px;
}

.nav {
  background-color: rgba(245, 245, 245, 0.74);
}

h1 {
  text-align: center;
}