@{
  Layout = "_Layout";
}

<h1>Welcome to Dr. Snuess' Factory Database</h1>
<h5>@Html.ActionLink("See all Machines", "Index", "Machines")</h5>
<h5>@Html.ActionLink("See all Engineers", "Index", "Engineers")</h5>